.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #A4A4A4; /* cinza escuro */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Comic Sans MS, sans-serif;
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: #002D62
; /* amarelo */
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar .navItens {
  display: flex;
  gap: 1.5rem;
}

.navbar .navItens .navLink {
  color: #002D62
;
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

.navbar .navItens .navLink:hover {
  color: #002D62
; /* amarelo claro no hover */
}

/* media query => telas menores */
@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .navbar .navItens {
    flex-direction: column;
    width: 100%;
    gap: 0;
    margin-top: 1rem;
  }

  .navbar .navItens .navLink {
    padding: 0.8rem 0;
    border-top: 1px solid rgba(255, 204, 0, 0.3); /* amarelo transparente */
  }

  .navbar .navItens .navLink:last-child {
    border-bottom: 1px solid rgba(255, 204, 0, 0.1);
  }
}
